PORT=5000
MONGO_URI=mongodb+srv://nawodyaweragoda_db_user:Nawodya123@cluster0.i77v9bu.mongodb.net/hotel_db?retryWrites=true&w=majority&appName=Cluster0
API_KEY=hotel_secret_key_123
PAYHERE_MERCHANT_ID=1237580
PAYHERE_MERCHANT_SECRET=NTAzMzQ0NDg5Mjg4Njk4MDUyNzE2Mjk2MTk2NzYzNTIxMjI4OTYz
PAYHERE_SANDBOX=true